{
	"presets": [
		[
			"@babel/env",
			{
				"targets": { "esmodules":true },
				"modules": false,
				"exclude":["transform-.*"]
			}
		]
	],
	"plugins": [
		[
			"component",
			{
				"libraryName": "element-ui",
				"styleLibraryName": "~src/styles/element-ui-theme"
			},
			"element-comp"
		],
		[
			"@babel/plugin-transform-runtime",
			{
				"helpers": true
			}
		]
	]
}